body {
  background-color: white;
  color: black;
}

h1 {
  font-size: 2em;
  color: #333;
}

.hero {
  padding: 20px;
  background-color: #f0f0f0;
}

.btn {
  background-color: #fff;
  border: 1px solid #333;
}

.about-section {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
}

.about-section h1 {
  color: #007acc;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1rem;
}
